body {
  font-size: 120%;
  font-family: Arial;
}

button, input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 100%;
  font-family: Arial;
}

.btn-add, .btn-subtract {
  color: rgb(219, 217, 217);
  cursor: pointer;
}

.btn-add {
  background-color: rgb(102,102,255);
}

.btn-subtract {
  background-color: rgb(230, 72, 72);
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: rgb(240, 95, 95);
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.486);
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 92%;
  margin: 0 auto;
}
